<html>
<head>
</head>
<body>
    <p align=center style='text-align:center'><span>DIRECCIÓN MUNICIPAL DE LA VIVIENDA</span></p>
    <p align=center style='text-align:center'><span>PODER POPULAR</span></p>
    <p align=center style='text-align:center'><span>ISLA DE LA JUVENTUD</span></p>
    <p><span>&nbsp;</span></p>
    <p><span>&nbsp;</span></p>
    <p><span>FECHA&nbsp;&nbsp;<u>&nbsp;&nbsp;{{ fecha }}&nbsp;&nbsp;</u>&nbsp;&nbsp;CLASIFIC.<u>&nbsp;&nbsp;{{ clasificacion }}&nbsp;&nbsp;</u>&nbsp;&nbsp;CODIGO&nbsp;&nbsp;<u>&nbsp;&nbsp;{{ codigo }}&nbsp;&nbsp;</u>&nbsp;&nbsp;</span></p>
    <p><span>&nbsp;</span></p>
    <p><span>EXP: {{ expediente }}</span></p>
    <p><span>&nbsp;</span></p>
    <p><span>Nombre y Apellidos: <u>{{ nombre }}</u></span></p>
    <p><span>&nbsp;</span></p>
    <p><span>Carné de Identidad: <u>{{ ci }}</u></span></p>
    <p><span>&nbsp;</span></p>
    <p><span>Dirección Particular: <u>{{ direccion }}</u></span></p>
    <p><span>&nbsp;</span></p>
    <p><span>Asunto: <u>{{ asunto }}</u></span></p>
    <p><span>&nbsp;</span></p>
    <p><span>Síntesis de la Entrevista: <u>{{ sintesis }}</u></span></p>
    <p><span>&nbsp;</span></p>
    <p><span>Trámites Realizados: <u>{{ tramites }}</u></span></p>
    <p><span>&nbsp;</span></p>
    <p><span>Conclusiones de la Entrevista: <u>{{ concluciones }}</u></span></p>
    <p><span>&nbsp;</span></p>
    <p><span>Nivel de solución: <u>{{ solucion }}</u></span></p>
    <p><span>&nbsp;</span></p>
    <p><span>Especialista que atiende: <u>{{ trabajador }}</u></span></p>
    <p><span>&nbsp;</span></p>
    <p><span>Conformidad: <u>{{ conformidad }}</u></span></p>
</body>
</html>
